@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Cuprum";

  src: local("Cuprum"), local("Cuprum-Regular"), url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: "Cuprum";

  src: local("Cuprum Italic"), local("Cuprum-Italic"), url("../fonts/cuprumitalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Cuprum";

  src: local("Cuprum Bold"), local("Cuprum-Bold"), url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-style: italic;
  font-weight: 700;
  font-family: "Cuprum";

  src: local("Cuprum Bold Italic"), local("Cuprum-Bold-Italic"), url("../fonts/cuprumbolditalic.woff2") format("woff2"), url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}

/* box-sizing: border-box - для всего документа + фикс для наследования */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* класс для явного указания модели поведения content-box */
.content-box-component {
  box-sizing: content-box;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* сниппет для доступного скрытия элементов на странице */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/* глобальные свойства для шрифтов и сброс margin padding заданных по умолчанию */
body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  color: #ffffff;
}

/* контейнер центровщик */
.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/* глобальный стиль для кнопок/ссылок */
.button {
  display: inline-block;
  min-height: 38px;
  padding: 10px 20px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

/* main header */
.main-header {
  padding-bottom: 60px;

  background-color: #f4f7f9;
}

/* main header top*/
.main-header-top {
  background-color: #293449;
}

.main-header-top .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.main-logo,
.footer-logo {
  display: block;
  flex-shrink: 0;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.main-logo strong,
.footer-logo strong {
  font-weight: normal;
}

.main-logo:hover,
.main-logo:focus,
.footer-logo:hover,
.footer-logo:focus {
  background-color: #ca2c37;
}

.main-logo:active,
.footer-logo:active {
  background-color: #ba2732;
}

.main-logo {
  position: relative;

  width: 220px;
  height: 42px;
  padding: 9px 0;

  font-size: 24px;
  line-height: 24px;
}

.main-logo::after {
  content: "";
  position: absolute;
  bottom: -5px;

  display: block;
  width: inherit;
  height: 5px;

  background-color: #b52933;
}

/* search form */
.search-form {
  position: relative;

  flex-grow: 1;
  min-width: 200px;
}

.search-form input[type="search"] {
  width: 100%;
  padding: 12px 24px 12px 50px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
  border: none;
}

.search-form input[type="search"]::placeholder {
  color: #ffffff;

  opacity: 1;
}

.search-form input[type="search"]:hover {
  background-color: #212a3a;
}

.search-form input[type="search"]:focus {
  color: #000000;

  background-color: #ffffff;
}

.search-form .search-button {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 18px;
  height: 17px;
  padding: 0;

  font-size: 1px;
  line-height: 1px;

  background-color: transparent;
  border: none;
}

.search-form .search-icon {
  width: 18px;
  height: 17px;

  opacity: 0.3;
}

.search-form .search-icon path {
  fill: #ffffff;
}

.search-form .search-button:hover .search-icon,
.search-form .search-button:focus .search-icon,
.search-form input[type="search"]:hover + .search-button .search-icon,
.search-form input[type="search"]:focus + .search-button .search-icon {
  opacity: 1;
}

.search-form .search-button:hover {
  cursor: pointer;
}

.search-form input[type="search"]:focus + .search-button .search-icon path {
  fill: #ee3643;
}

.search-form .search-button:active .search-icon path {
  fill: #ee3643;
}
/* search form end */

.main-header-top .button {
  min-width: 150px;

  font-size: 17px;
  line-height: 18px;
}

.main-header .bookmarks-button,
.main-header .cart-button {
  position: relative;

  padding: 12px 24px 12px 45px;

  background-color: #293449;
}

.main-header .bookmarks-button,
.main-header .cart-button,
.main-header .place-order-button {
  text-transform: none;

  border-radius: 0;
}

.main-header .bookmarks-button::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-header .cart-button::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-header .bookmarks-button:hover::before,
.main-header .cart-button:hover::before,
.main-header .bookmarks-button:focus::before,
.main-header .cart-button:focus::before {
  opacity: 1;
}

.main-header .bookmarks-button:active::before,
.main-header .cart-button:active::before {
  opacity: 0.5;
}

.main-header .bookmarks-button:hover,
.main-header .cart-button:hover,
.main-header .bookmarks-button:focus,
.main-header .cart-button:focus {
  background-color: #212a3a;
}

.main-header .bookmarks-button:active,
.main-header .cart-button:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.main-header .not-empty {
  background-color: #ee3643;
}

.main-header .not-empty:hover,
.main-header .not-empty:focus {
  background-color: #ca2c37;
}

.main-header .not-empty:active {
  background-color: #ba2732;
}

.main-header .place-order-button {
  padding: 12px 20px;

  background-color: #63a63e;
}

.main-header .place-order-button:hover {
  background-color: #5fbb2d;
}

.main-header .place-order-button:focus {
  background-color: #5fbb2d;
}

.main-header .place-order-button:active {
  color: rgba(255, 255, 255, 0.51);

  background-color: #518534;
}
/* main header top end */

/* main header middle */
.main-header-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 40px;
}

.tagline,
.main-contacts,
.user-menu {
  width: 300px;
  margin: 0;
}

.tagline {
  padding: 0 50px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.main-contacts {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.main-contacts .phone-number {
  position: relative;

  display: inline-block;
  min-width: 270px;
  margin-bottom: 5px;
  padding: 9px 25px 9px 45px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.main-contacts .phone-number::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* user navigation */
.user-navigation,
.site-navigation,
.footer-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-menu .user-account {
  display: flex;
  margin-top: 0;
  margin-bottom: 5px;
}

.user-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.user-navigation li:not(:last-child) {
  margin-right: 10px;
}

.user-navigation-inner-page {
  justify-content: flex-start;
}

.user-menu .user-navigation-inner-page li {
  margin: 0 15px;
}

.user-menu .button {
  padding: 12px 24px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-transform: none;

  background-color: #ffffff;
  border-radius: 0;
}

.user-menu .login-button {
  padding-left: 48px;
}

.user-menu .login-button::before {
  content: "";
  position: absolute;

  width: 20px;
  height: 17px;
  margin-top: 2px;
  margin-left: -34px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-menu .user-profile-button {
  position: relative;

  flex-grow: 1;
  padding-right: 0;
  padding-left: 48px;
  overflow: hidden;

  text-align: left;
  white-space: nowrap;
}

.user-menu .user-profile-button::before {
  content: "";
  position: absolute;

  width: 20px;
  height: 17px;
  margin-top: 2px;
  margin-left: -34px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-menu .user-profile-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 24px;
  height: 100%;

  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.75) 50%, #ffffff 75%);
}

.user-menu .logout-button {
  min-height: 45px;
  padding-right: 40px;
  padding-left: 0;
}

.user-menu .logout-button::before {
  content: "";
  position: absolute;

  width: 21px;
  height: 17px;
  margin-top: 2px;

  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-navigation .orders-link,
.user-navigation .profile-link {
  display: block;

  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-navigation-inner-page li {
  position: relative;
}

.user-navigation-inner-page li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -17px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}

.user-menu .button:hover,
.user-menu .orders-link:hover,
.user-menu .profile-link:hover,
.user-menu .button:focus,
.user-menu .orders-link:focus,
.user-menu .profile-link:focus {
  color: #ee3643;
}

.user-menu .button:hover::before,
.user-menu .button:focus::before {
  opacity: 1;
}

.user-menu .button:active,
.user-menu .orders-link:active,
.user-menu .profile-link:active {
  color: #c5c5c5;
}

.user-menu .button:active::before {
  opacity: 0.3;
}
/* user navigation end */
/* main header middle end */

/* site navigation */
.site-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.site-navigation a {
  display: block;
  padding: 20px 30px;

  color: #ffffff;
}

.site-navigation a:not([href]),
.site-navigation-current a,
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}
/* site navigation end */
/* main header end*/

/* front page */
.front-page {
  padding-top: 60px;
}

/* promo section */
.promo-section {
  margin-bottom: 50px;
}

.clearfix::after {
  content: "";

  display: block;
  clear: both;
}

.promo-section > .promo-item {
  float: left;
  margin-right: 20px;
}

.promo-section > .promo-item:not(.promo-slider):nth-of-type(n+3) {
  margin-right: 0;
}

.promo-section > .promo-item:not(.promo-slider):not(:last-child) {
  margin-bottom: 20px;
}

.promo-section > .promo-item:not(.promo-slider) {
  width: 300px;
  height: 123px;
}

.promo-section h3 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 0 20px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.promo-section .promo-button {
  min-width: 135px;
  margin-left: 25px;

  background-color: rgba(0, 0, 0, 0.1);
}

.promo-section .promo-button:hover,
.promo-section .promo-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-section .promo-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-section .matherials {
  background-color: #ffbf47;
  background-image: url("../img/icon-materials.svg");
  background-repeat: no-repeat;
  background-position: right 40px center;
}

.promo-section .tools {
  background-color: #3bbce3;
  background-image: url("../img/icon-tools.svg");
  background-repeat: no-repeat;
  background-position: right 30px center;
}

.promo-section .tech {
  background-color: #dc91d8;
  background-image: url("../img/icon-technics.svg");
  background-repeat: no-repeat;
  background-position: right 30px center;
}

.promo-section .discount {
  background-color: #8ed78f;
  background-image: url("../img/icon-discounts.svg");
  background-repeat: no-repeat;
  background-position: right 45px center;
}

.promo-section .delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: right 30px center;
}

/* TODO: оставить или убрать? Как позиционировать контролы слайдера? */
/* promo slider */
.promo-section .promo-slider {
  position: relative;
}

.promo-slider-list {
  position: relative;

  width: 620px;
  height: 266px;
  margin: 0;
  padding: 0;
  overflow: hidden;

  list-style: none;
}

@keyframes shift-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.shift-right {
  animation: shift-right 0.5s;
}

@keyframes shift-left {
  from {
    transform: translateX(+100%);
  }

  to {
    transform: translateX(0);
  }
}

.shift-left {
  animation: shift-left 0.5s;
}

.promo-slider-list .slider-item {
  position: absolute;
  top: 0;

  width: 620px;
  height: 266px;
}

.promo-slider-list .slider-item-current {
  position: relative;
  z-index: 1;
}

.promo-slider-list .slider-item > h4 {
  position: absolute;
  top: 22px;
  left: 24px;

  margin: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-slider-list .slider-item > p {
  position: absolute;
  top: 65px;
  left: 24px;

  margin: 0;

  font-size: 18px;
  line-height: 24px;
}

/* slider controls */
.promo-slider .slider-controls {
  position: absolute;
  bottom: 35px;
  z-index: 1;

  width: 100%;
  padding: 0 230px;

  font-size: 0;
  text-align: center;
}


/* .slider-controls input[type="radio"]:focus + label > .slide-indicator-dot {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
} */

.slider-controls .slider-backward-button,
.slider-controls .slider-forward-button {
  position: absolute;
  top: -105px;

  display: block;
  width: 22px;
  height: 40px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  cursor: pointer;
}

.slider-controls .slider-backward-button {
  left: 20px;

  background-image: url("../img/icon-left-arrow.svg");
}

.slider-controls .slider-forward-button {
  right: 20px;

  background-image: url("../img/icon-right-arrow.svg");
}

/* fixme: opacity для outline - исправить */
.slider-controls .slider-backward-button:hover,
.slider-controls .slider-forward-button:hover {
  opacity: 0.5;
}

.slider-controls .slider-backward-button:active,
.slider-controls .slider-forward-button:active {
  opacity: 0.3;
}

.slide-indicators .slide-indicator:not(:last-child) {
  margin-right: 10px;
}

.slide-indicators .slide-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;

  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide-indicators .slide-indicator-current {
  background-color: #ee3643;
  border: 2px solid #ffffff;
}
/* slider controls end */

.promo-slider .slider-button {
  position: absolute;
  bottom: 22px;
  left: 25px;
  z-index: 1;

  min-width: 195px;
}
/* promo slider end */
/* promo section end */

/* popular items */
.popular-items-header,
.brands-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 25px;

  background-color: #f9f5f0;
}

.popular-items-header h2,
.brands-header h2 {
  margin: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.popular-items-header .section-header-button,
.brands-header .section-header-button {
  min-width: 250px;
}

.popular-items-list,
.brands-list,
.catalog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-item :not(.button),
.catalog-item :not(.button) {
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
}

.popular-item,
.brands-item,
.catalog-item {
  width: 220px;
  margin-bottom: 20px;

  border: 1px solid #eaeaea;
}

.popular-item,
.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.popular-item:hover,
.catalog-item:hover,
.popular-item:focus,
.catalog-item:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  transition: 0.25s;
}

.popular-item .item-image,
.catalog-item .item-image {
  order: -1;
  width: auto;

  text-align: center;
}

.popular-item .item-image img,
.catalog-item .item-image img {
  width: 200px;
  height: 150px;
}

.popular-item .item-name,
.catalog-item .item-name {
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 0 10px;

  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.popular-item .item-name a,
.catalog-item .item-name a {
  color: #000000;
}

.popular-item .item-model,
.catalog-item .item-model {
  display: block;
}

.popular-item:not(:nth-child(4n)),
.brands li:not(:nth-child(4n)),
.catalog-item:not(:nth-child(3n)) {
  margin-right: 20px;
}

.popular-item .prices,
.catalog-item .prices {
  margin-top: auto;
  margin-bottom: 20px;
}

.popular-item .old-price,
.popular-item .price,
.catalog-item .old-price,
.catalog-item .price {
  display: block;

  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.popular-item .old-price,
.catalog-item .old-price {
  margin-bottom: 10px;

  color: #a9a9a9;
  text-decoration: line-through;
}

.popular-item .price,
.catalog-item .price {
  width: 140px;
  margin-top: auto;
  padding: 10px 20px;

  background-image: url("../img/back-buy-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* manage item popup menu */
.popular-item .manage-item-popup-menu,
.catalog-item .manage-item-popup-menu {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 170px;
  margin: 0;

  background-color: #ffffff;
}

@keyframes emergence {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.popular-item:hover .manage-item-popup-menu,
.catalog-item:hover .manage-item-popup-menu {
  display: flex;
  animation: emergence 0.3s;
}

.manage-item-popup-menu .button:not(:last-child) {
  margin-bottom: 10px;
}

.popular-item .buy-button,
.catalog-item .buy-button {
  position: relative;

  padding-right: 40px;
  padding-left: 40px;

  background-color: #63a63e;
  box-shadow: inset 0 -3px #518534;
}

.popular-item .buy-button:hover,
.catalog-item .buy-button:hover,
.popular-item .buy-button:focus,
.catalog-item .buy-button:focus {
  background-color: #5fbb2d;
}

.popular-item .buy-button:active,
.catalog-item .buy-button:active {
  background-color: #518534;
}

.popular-item .buy-button::before,
.catalog-item .buy-button::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.popular-item .buy-button:hover::before,
.catalog-item .buy-button:hover::before,
.popular-item .buy-button:focus::before,
.catalog-item .buy-button:focus::before {
  opacity: 1;
}

.popular-item .add-to-bookmarks-button,
.catalog-item .add-to-bookmarks-button {
  padding: 7px 17px;

  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.popular-item .add-to-bookmarks-button:hover,
.catalog-item .add-to-bookmarks-button:hover,
.popular-item .add-to-bookmarks-button:focus,
.catalog-item .add-to-bookmarks-button:focus {
  border-color: #32425c;
}

.popular-item .add-to-bookmarks-button:active,
.catalog-item .add-to-bookmarks-button:active {
  opacity: 0.3;
}

.popular-item .buy-button,
.catalog-item .buy-button,
.popular-item .add-to-bookmarks-button,
.catalog-item .add-to-bookmarks-button {
  min-width: 135px;
}
/* manage item popup menu end */

.flag-new {
  position: relative;
}

.flag-new::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 60px;

  background-image: url("../img/flag-new.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* popular items end */

/* brands */
.brands {
  margin-bottom: 65px;
}

.brands-item {
  display: block;
  height: 145px;
  padding: 22px 0;

  text-align: center;
}

.brands-item:hover,
.brands-item:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  transition: 0.25s;
}

.brands-item:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  transition: 0.25s;
}

.brands-item:active img {
  opacity: 0.3;
}

.brands-item img {
  width: auto;
}
/* brands end */

/* services */
.services {
  color: #000000;

  background-color: #f4f7f9;
}

.services .container {
  padding-top: 70px;
  padding-bottom: 105px;
}

.services h2,
.about-perforartors h2 {
  margin-top: 0;
  margin-bottom: 35px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services p,
.about-perforartors p {
  margin: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.services .services-description {
  margin-bottom: 70px;
}

.services-list {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;
}

.services-list::before {
  content: "";
  position: absolute;
  top: -46px;
  left: 230px;

  width: 10px;
  height: 272px;

  background-image: url("../img/services-shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-list .service {
  width: 240px;
}

.list-item {
  display: block;
  padding: 15px 20px;

  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1), inset 0 -1px 0 0 #293449;

  transition: all 0.3s;
}

.list-item:hover {
  background-color: #293449;
}

.service input[type="radio"]:checked + .list-item {
  color: #32425c;

  background-color: #ffffff;
  box-shadow: none;
}

.service input[type="radio"]:focus + .list-item {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.service input[type="radio"]:checked ~ .service-description {
  z-index: 1;

  opacity: 1;

  animation: emergence 0.75s;
}

.service-description {
  position: absolute;
  top: 0;
  left: 320px;

  width: 620px;
  height: 285px;

  opacity: 0;
}

.service-description .service-name {
  margin-top: 0;
  margin-bottom: 35px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.service-description p {
  width: 400px;
}

.credit .description {
  margin-bottom: 30px;
}

.service-description .credit-request-button {
  min-width: 195px;
}

.services .delivery {
  background-image: url("../img/services-devivery.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.services .guarantee {
  background-image: url("../img/services-guarantee.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.services .credit {
  background-image: url("../img/services-credit.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
}
/* services end */

/* about company and contacts */
.abount-and-contacts-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-company {
  width: 540px;
}

.about-company,
.contacts {
  color: #000000;
}

.about-company > h2,
.contacts > h2 {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company .description,
.contacts .description {
  margin: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.about-company .description:not(:last-of-type) {
  margin-bottom: 30px;
}

.about-company .description:last-of-type {
  margin-bottom: 25px;
}

.about-company .partners-list {
  margin-top: 0;
  margin-bottom: 30px;

  list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='7'%3E%3Cline x1='0' y1='1' x2='25' y2='1' stroke='%23ee3643' stroke-width ='2'/%3E%3C/svg%3E");
  font-size: 18px;
  line-height: 20px;
}

.partners-list .partner-item:not(:last-child) {
  margin-bottom: 20px;
}

.about-company .about-company-button {
  min-width: 220px;
}

.contacts {
  width: 300px;
}

.contacts .description {
  margin-bottom: 35px;
}

.contacts .minimap {
  width: auto;
  margin: 0;
  margin-bottom: 40px;
}

.minimap img {
  display: block;
}

.contacts .contacts-us-button {
  width: 100%;
}
/* about company and contacts end */
/* front page end*/

/* inner page */
/* breadcrumbs */
.breadcrumbs {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 21px 0;

  list-style: none;
}

.breadcrumbs li {
  font-size: 13px;
  line-height: 18px;
  font-family: "Pt Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 30px;
}

.breadcrumbs li:first-child a::before {
  content: "";

  display: inline-block;
  width: 14px;
  height: 12px;
  margin-top: 2px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  position: absolute;

  width: 8px;
  height: 12px;
  margin-top: 2px;
  margin-left: 11px;

  background-image: url("../img/icon-small-row.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* breadcrumbs end */

/* inner page geader */
.inner-page-header {
  margin-bottom: 20px;
  padding: 30px;

  background-color: #f2f6f8;
}

.inner-page-header h1 {
  margin: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}
/* inner page header end */

/* catalog columns */
.catalog-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}

/* items filters */
.items-filters {
  width: 220px;
}

.filter-form {
  font-family: "Pt Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.filter-form .price-filter-fieldset,
.filter-form .manufacturers-fieldset,
.filter-form .power-supply-fieldset {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 25px;

  border: none;
}

.filter-form fieldset:last-of-type {
  margin-bottom: 55px;
}

.filter-form .price-filter-legend,
.filter-form .manufacturers-legend,
.filter-form .power-supply-legend {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.filter-form .filters-values {
  margin-top: 0;
  padding: 10px 20px;
}

.filter-form .filters-values,
.filter-form .submit-button {
  font-size: 13px;
  line-height: 18px;
}

.filter-form .filter-output {
  overflow-wrap: break-word;
}

.filter-form .filters-values,
.filter-form .start-price,
.filter-form .end-price,
.filter-form .price-range,
.sorting-of-items {
  background-color: #f7f3ec;
  border-radius: 3px;
}

.filter-form .start-price,
.filter-form .end-price {
  text-align: center;
}

.filter-form .price-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.filter-form .price-range {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  padding: 39px 20px 0;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.price-range .scale {
  position: relative;

  width: 180px;
  height: 2px;

  background-color: #d7dcde;
}

.price-range .toggle {
  position: absolute;

  width: 20px;
  height: 20px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.price-range .toggle-min {
  top: -9px;
  left: -8px;
}

.price-range .toggle-max {
  top: -9px;
  right: 25px;
}

.price-range .bar {
  width: 80%;
  height: 100%;

  background-color: #00ca74;
}

.price-filter-fieldset .start-price,
.price-filter-fieldset .end-price {
  width: 95px;
  padding: 10px 20px;

  font-size: 17px;
  line-height: 18px;

  border: none;
}

.filter-form .manufacturers-list,
.filter-form .power-supply-list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 15px;
  line-height: 20px;
}

.filter-form .manufacturers-list li:not(:last-child),
.filter-form .power-supply-list li:not(:last-child) {
  margin-bottom: 20px;
}

.filter-form fieldset:not(:last-of-type) {
  border-bottom: 1px solid #e5e5e5;
}

.filter-form .manufacturers-list label,
.filter-form .power-supply-list label {
  display: inline-block;
  padding-left: 30px;
}

/* check and radio controls */
.manufacturers-list label::before {
  content: "";
  position: absolute;

  width: 23px;
  height: 23px;
  margin-top: -2px;
  margin-left: -30px;

  background-image: url("../img/icon-checkbox-unchecked.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.power-supply-list label::before {
  content: "";
  position: absolute;

  width: 25px;
  height: 25px;
  margin-top: -2px;
  margin-left: -30px;

  background-image: url("../img/icon-radio-unchecked.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.manufacturers-list label:hover::before,
.manufacturers-list input[type="checkbox"]:focus + label::before,
.power-supply-list label:hover::before,
.power-supply-list input[type="radio"]:focus + label::before {
  opacity: 1;
}

.manufacturers-list input[type="checkbox"]:focus + label::before,
.power-supply-list input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.manufacturers-list input[type="checkbox"]:disabled + label::before,
.power-supply-list input[type="radio"]:disabled + label::before {
  opacity: 0.3;
}

.manufacturers-list input[type="checkbox"]:disabled + label,
.power-supply-list input[type="radio"]:disabled + label {
  opacity: 0.4;
}

.manufacturers-list input[type="checkbox"]:checked + label::before {
  width: 27px;

  background-image: url("../img/icon-checkbox-checked.svg");
}

.power-supply-list input[type="radio"]:checked + label::before {
  background-image: url("../img/icon-radio-checked.svg");
}
/* check and radio controls end */

.filter-form .submit-button {
  padding: 9px 38px;

  text-transform: inherit;

  background-color: inherit;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.filter-form .submit-button:hover,
.filter-form .submit-button:focus {
  border-color: #bdc6ca;
}

.filter-form .submit-button:active {
  border-color: #ee3643;
}
/* items filters end */

/* catalog */
.catalog {
  width: 700px;
}

/* sorting of items */
.sorting-of-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  padding-right: 15px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.sorting-of-items .title {
  margin: 0;
  margin-right: auto;
  padding: 10px 20px;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.sorting-of-items a {
  color: #000000;

  opacity: 0.3;
}

.sort-type-list,
.sort-order-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-type-list {
  flex-basis: 380px;
  margin-right: 20px;
}

.sort-order-list {
  flex-basis: 45px;
}

.sort-type-list .sort-type {
  border-bottom: 1px dotted #ee3643;
}

.sort-type-list .sort-type:hover a {
  opacity: 1;
}

.sort-type-list .sort-type:hover {
  border-bottom-style: solid;
}

.sort-type-list .sort-type:active a {
  color: #ee3643;

  opacity: 1;
}

.sort-type-list .sort-type:active {
  border-bottom: none;
}

.sort-order-list .sort-ascending::before {
  content: "";

  display: inline-block;
  width: 10px;
  height: 10px;

  border-right: transparent solid 5px;
  border-bottom: #000000 solid 10px;
  border-left: transparent solid 5px;
}

.sort-order-list .sort-descending::before {
  content: "";

  display: inline-block;
  width: 10px;
  height: 10px;

  border-top: #000000 solid 10px;
  border-right: transparent solid 5px;
  border-left: transparent solid 5px;
}

.sort-order-list .sort-ascending:hover,
.sort-order-list .sort-ascending:active {
  opacity: 1;
}

.sort-order-list .sort-ascending:active::before {
  border-bottom-color: #ee3643;
}

.sort-order-list .sort-descending:hover,
.sort-order-list .sort-descending:active {
  opacity: 1;
}

.sort-order-list .sort-descending:active::before {
  border-top-color: #ee3643;
}
/* sorting of items end */

/* pagination */
.pagination-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-list li:not(:last-child) {
  margin-right: 10px;
}

.pagination-list .pagination-item {
  display: block;
  min-width: 38px;
  padding: 10px;

  font-size: 13px;
  line-height: 18px;
  font-family: "Pt Sans", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-list .pagination-item:not([href]) {
  color: #ffffff;

  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.pagination-list li:last-child .pagination-item {
  min-width: 140px;
  padding-right: 20px;
  padding-left: 20px;
}

.pagination-list .pagination-item[href]:hover,
.pagination-list .pagination-item[href]:focus {
  border-color: #bdc6ca;
}

.pagination-list .pagination-item[href]:active {
  border-color: #ee3643;
}
/* pagination end */
/* catalog end */
/* catalog columns end */

.about-perforartors .container {
  padding-top: 70px;
  padding-bottom: 75px;
}

.about-perforartors {
  color: #000000;

  background-color: #f2f6f8;
}
/* inner page end */

/* main footer */
.main-footer {
  background-color: #32425c;
}

.main-footer .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-logo-and-contacts-wrapper {
  width: 380px;
  margin-bottom: 50px;
}

.footer-logo {
  width: 220px;
  height: 70px;
  margin-bottom: 30px;
  padding: 20px 40px;

  font-size: 30px;
  line-height: 30px;

  border-bottom: 5px solid rgba(0, 0, 0, 0.25);
}

.footer-contacts,
.footer-navigation {
  font-size: 18px;
  line-height: 24px;
}

.footer-contacts {
  margin: 0;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: flex-start;
  width: 560px;
  margin-bottom: 70px;
  padding-top: 20px;
}

.footer-navigation li {
  margin: 15px 30px;
}

.footer-navigation li:first-child {
  margin-left: 0;
}

.footer-navigation li:nth-child(5n),
.footer-navigation li:last-child {
  margin-right: 0;
}

.footer-navigation li a {
  color: #ffffff;
}

.footer-navigation li:nth-child(n+6) a {
  color: #ffd180;
}

.footer-navigation li a:hover,
.footer-navigation li a:focus {
  text-decoration-color: currentColor;
  text-decoration-line: underline;
}

.footer-navigation li a:active {
  opacity: 0.5;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}

.footer-bottom .container {
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-copyright,
.feedback-email,
.developed-by {
  margin: 0;
}

.footer-social {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-social .social-links {
  display: inline-block;
  width: 40px;
  height: 40px;

  color: #ffffff;

  background-color: #212a3a;
  border-radius: 50%;
}

.footer-social li:not(:last-child) {
  margin-right: 5px;
}

.footer-social .social-links:hover,
.footer-social .social-links:focus {
  background-color: #ee3643;
}

.footer-social .vk-link {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-social .fb-link {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-social .insta-link {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.links-wrapper {
  display: flex;
  flex-direction: row;
  width: 300px;
}

.footer-bottom .feedback-email {
  margin-right: 50px;
}

.footer-bottom .feedback-email a,
.footer-bottom .developed-by a {
  color: #ffda96;
}

.footer-bottom .feedback-email a:hover,
.footer-bottom .developed-by a:hover,
.footer-bottom .feedback-email a:focus,
.footer-bottom .developed-by a:focus {
  text-decoration-color: currentColor;
  text-decoration-line: underline;
}

.footer-bottom .feedback-email a:active,
.footer-bottom .developed-by a:active {
  color: #ee3643;
  text-decoration: none;
}
/* main footer end */

/* modal windows */
.modal {
  position: fixed;
  z-index: 2;

  display: none;

  color: #000000;

  background-color: #ffffff;
  border-top: 7px solid #ff5358;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.05);

  animation: emergence 0.5s;
}

.form-inner-wrapper {
  padding: 35px 80px;
}

.form-bottom {
  text-align: center;

  background-color: #f4f4f4;
}

/* modal login */
.modal-show {
  display: block;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(15px);
  }

  90% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal-login {
  top: 100px;
  left: 50%;

  width: 460px;
  margin-left: -230px;

  font-size: 18px;
  line-height: 18px;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);

  animation: bounce 0.7s;
}

.modal-login > .form-inner-wrapper {
  padding-bottom: 0;
}

.login-form > .form-inner-wrapper {
  padding-top: 0;
}

.modal-login .title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.modal-login p {
  margin-top: 0;
  margin-bottom: 20px;
}

.modal-login p:last-child:not(.modal-description) {
  margin-bottom: 0;
}

.modal-login input[type="text"],
.modal-login input[type="password"] {
  width: 100%;
  padding: 8px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #a9a9a9;

  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.modal-login .login-help {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-login .remember-label {
  padding-left: 30px;

  cursor: pointer;
}

.modal-login .remember-label::before {
  content: "";
  position: absolute;

  width: 23px;
  height: 23px;
  margin-top: -4px;
  margin-left: -30px;

  background-image: url("../img/icon-checkbox-unchecked.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.login-help label:hover::before,
.login-help input[type="checkbox"]:focus + label::before {
  opacity: 1;
}

.login-help input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.login-help input[type="checkbox"]:disabled + label::before {
  opacity: 0.3;
}

.login-help input[type="checkbox"]:disabled + label {
  opacity: 0.4;
}

.login-help input[type="checkbox"]:checked + label::before {
  width: 27px;

  background-image: url("../img/icon-checkbox-checked.svg");
}

.modal-login .restore {
  color: #32425c;
}

.modal-login .restore:hover,
.modal-login .restore:focus {
  text-decoration-color: currentColor;
  text-decoration-line: underline;
}

.modal-login .restore:active {
  opacity: 0.3;
}

.form-bottom .login-button {
  width: 100%;
}
/* modal login end */

/* feedback modal */
@keyframes bounce-bottom {
  0% {
    transform: translateY(2000px);
  }

  70% {
    transform: translateY(-15px);
  }

  90% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal-feedback {
  top: 50%;
  left: 50%;

  width: 620px;
  height: 428px;
  margin-top: -214px;
  margin-left: -310px;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);

  animation: bounce-bottom 0.7s;
}

.feedback-form > .form-inner-wrapper {
  padding-top: 50px;
}

.modal-feedback label {
  font-size: 18px;
  line-height: 18px;
}

.modal-feedback .name-input,
.modal-feedback .email-input,
.modal-feedback .message-input {
  width: 100%;
  margin-top: 10px;
  padding: 8px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #a9a9a9;

  border: 2px solid #dee3e4;
  border-radius: 3px;

  resize: none;
}

.modal-feedback .name-input::placeholder,
.modal-feedback .email-input::placeholder,
.modal-feedback .message-input::placeholder {
  color: #a9a9a9;
}

.modal-feedback .user-name,
.modal-feedback .user-email {
  width: 220px;
}

.modal-feedback .user-message {
  height: 115px;
}

.modal-feedback .user-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 20px;
}

.modal-feedback .submit-button {
  width: 100%;
}
/* feedback modal end */

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.5s;
}

/* modal map */
@keyframes scale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.modal-map {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 940px;
  height: 446px;
  margin-top: -220px;
  margin-left: -470px;

  color: #000000;

  border: none;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);

  animation: scale 0.6s;
}

.modal-map iframe {
  position: absolute;
  top: 0;
  left: 0;
}
/* modal map end */

/* modal cart notification */

.modal-cart-notification {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 620px;
  margin-top: -150px;
  margin-left: -310px;

  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);

  animation: scale 0.5s;
}

.modal-cart-notification h2::before {
  content: "";
  position: absolute;

  width: 66px;
  height: 66px;
  margin-top: -18px;
  margin-left: -96px;

  background-image: url("../img/icon-cart-notification.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-notification-inner-wrapper {
  padding: 70px 0 70px 180px;
}

.modal-cart-notification h2 {
  margin: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
}

.modal-cart-notification .notification-bottom {
  background-color: #f1f1f1;
}

.notification-bottom .cart-notification-inner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px 80px;
}

.modal-cart-notification .continue-button {
  color: #000000;

  background-color: #ffffff;
}

.modal-cart-notification .place-order-button,
.modal-cart-notification .continue-button {
  width: 220px;
}
/* modal cart notification end */

/* modal close */
.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 8px;

  width: 4px;
  height: 25px;

  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after,
.modal-close:focus::before,
.modal-close:focus::after {
  background-color: #ca2c37;
}

.modal-close:active::before,
.modal-close:active::after {
  background-color: #ba2732;
}
/* modal close end */
/* modal windows end */
